.publication {
    width: fit-content;    
    margin: 0 auto;
}

.perfilUser {
    display: flex;
    gap: .5rem;
}

.perfilUser img {
    width: 100%;
    height: 100%;
    border-radius: 50%;    
    padding: .1rem;
    background-color: white;
}

.timeLine_Publications {
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.publication_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: .6rem;
}

.publication_header-contentImg {
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;  
  padding: .1rem;
}

.publication_header--info > span {
    font-size: .83em;
}

.publication_header--info-username {
    font-size: 1rem;
}

.publication_header--info > div {
    display: flex;
    gap: .3rem;
    align-items: center;
}

.header__days {
    color: gray;
    font-size: .9em;
}

.publication_content {
    display: flex;
    justify-content: center;
    height: 580px;
    width: 450px;
    border-radius: .2rem;    
    overflow: hidden;
    background-color: black;
}

.publication_reactions-icons:hover > svg.icon-hover {    
    filter: invert(60%)
}

@keyframes entry {
    0% {
        opacity: 0;
        scale: 0;
    }
    15% {
        opacity: 1;
        scale: 1.2;
    }
    30% {
        scale: .95;
    }
    80% {        
        scale: 1;
    }    
}

.publication_reactions-icons > svg.i-dont-like {
    animation: entry 1s ease-in-out;
}

.publication_content-img {    
    height: 100%;        
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.publication_reactions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: .8rem 0;
}

.publication_reactions-left {
    display: flex;
    gap: .7rem;
    align-items: center;
}

.publication_post {
    width: 100%;
}

.publication_post form {
    position: relative;
    width: 100%;
    background-color: red;
}

.publication_post input {
    width: 100%;
    padding: .7rem 0 1rem 0;
    border-bottom: 1px solid rgb(168, 168, 168);
}

.publication_post-options {
    display: flex;
    align-items: center;
    gap: .5rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);    
}

.publication_options-buttonPost {
    font-weight: bold;
    color: var(--sky-blue);
    margin-bottom: .1rem;    
}

.publication_comments {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: .5rem;
}

.publication_comments strong {
    font-size: .94rem;
}