.sideBar {
    position: fixed;
    width: 14.7rem;
    height: fit-content;
    border-right: 1px solid rgb(211, 209, 209);
    top: 0;
    padding: 2.6rem 1.2rem;
    overflow: scroll;
  }

  .sideBar::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  .sideBar_options {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    margin-top: 1.8rem;
  }
  
  .sideBar_erase {    
    /* display: none; */
    visibility: hidden;
    transition: visibility 1s, display 1s;
  }

  .sideBar_option button{
    display: flex;
    align-items: center;
    gap: .8rem;
    font-size: .94rem;
    width: 100%;
    transition: background-color .3s;
    border-radius: .5rem;
    padding: .7rem;
  }

  .sideBar_logo {
    margin-left: .7rem;
  }

  .sideBar_option button:hover {
    background-color: rgba(240, 236, 236, .8);
  }

  .sideBar_option:hover .sideBar_option-icon {
    transition: scale .3s;
    scale: 1.13;
  }

  .sideBar img {
    border-radius: 50%;
    width: 1.4375rem;
    height: 1.4375rem;
    object-fit: cover;
  }