.app {
  display: flex;
  padding-top: 2.5rem;
}


/**** SideBar ****/
.sideBar {
  width: 16%;
  border-right: 1px solid gray;
  margin: 0 0 0 1.2rem;
}

.sideBar_options {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

.sideBar_option {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.sideBar img {
  border-radius: 50%;
  width: 23px;
  height: 23px;
  object-fit: cover;
}

/*** Histories ***/
.slider {    
  position: relative;
  width: 33.3rem;  
  margin: 0 auto 2.5rem;  
}

.contSlider {
  width: 100%;    
  overflow: hidden;
  margin: 0 auto;    
}

.sliderMove {
  display: flex;
  gap: 1rem;
  transition: transform .5s;  
}

.history {  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;    
}

.history_img {
  width: 55px;
  height: 55px;
  border-radius: 50%;  
}

.history_username {
  font-size: .7rem;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 62.4px;
  text-align: center;  
  margin-top: .4rem;
}

.slider_button {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 17px;
  z-index: 2;  
  transition: opacity .4s, visibility .4s;  
  background-color: transparent;
}

.slider_button svg {
  width: 26px;
  height: 26px
}

.slider_button--right {
  right: 20px;
}

.slider_button--left {
  left: 20px;
  visibility: hidden;
  pointer-events: none;
}

.chevron {
  filter: invert(100%);
  pointer-events: none;
}

.chevron-right {
  transform: rotate(-90deg);
}

.chevron-left {
  transform: rotate(90deg);
}