.app {
  display: flex;
}


/**** SideBar ****/
.sideBar {
  width: 16%;
  border-right: 1px solid gray;
  margin: 2rem 0 0 1.2rem;
}

.sideBar_options {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

.sideBar_option {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.sideBar img {
  border-radius: 50%;
  width: 23px;
  height: 23px;
  object-fit: cover;
}

/*** Histories ***/
.slider {    
  position: relative;
  width: 37.3rem;  
  margin: 2.5rem auto;
}

.contSlider {
  width: 33.3rem;  
  overflow: hidden;
  margin: 0 auto;  
}

.sliderMove {
  display: flex;
  gap: 1rem;
  transition: transform .5s;  
}

.history {  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history_perfil {
  width: 50px;
  height: 50px;
  border-radius: 50%;  
}

.history_user {
  font-size: .9rem;
}

.slider_button {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;  
  transition: opacity .4s, visibility .4s;  
  background-color: transparent;
}

.slider_button--right {
  right: 0;
}

.slider_button--left {
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

.chevron {
  filter: invert(100%);
  pointer-events: none;
}

.chevron-right {
  transform: rotate(-90deg);
}

.chevron-left {
  transform: rotate(90deg);
}

